{% extends "base.html" %}

{% block courier_tab_class %}selected{% endblock %}

{% block middle_bar %}
    <div id="middle_bar">
        <a href="{% url courier_add %}" class="nav-button selected">Új futár felvitele</a>
    </div>
{% endblock %}

{% block content %}

    {% if object_list %}
        <table class="datagrid">
            <tr>
                <th>Név</th>
                <th>Állapot</th>
                <th>Pozíció</th>
                <th>Utolsó frissítés</th>
                <th></th>
            </tr>
            {% for courier in object_list %}
            <tr{% if not courier.is_active %} class="inactive"{% endif %}>
                <td>{{ courier.username }}</td>
                <td>{{ courier.state }}</td>
                <td>{{ courier.position|default:"-" }}</td>
                <td>{{ courier.last_update|default:"-" }}</td>
                <td>
                    <a href="{% url courier_toggle courier.pk %}">

                    {% if courier.is_active %}
                        <img src="/static/img/delete.png" alt="delete client"/>
                    {% else %}
                        <img src="/static/img/accept.png" alt="enable client"/>
                    {% endif %}
                    </a>

                    <a href="{% url courier_edit courier.pk %}">
                        <img src="/static/img/edit.png" alt="edit client"/>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        Nincs futár.
    {% endif %}
    
{% endblock %}