{% extends "base.html" %}

{% block courier_tab_class %}selected{% endblock %}

{% block middle_bar %}
    <div id="middle_bar">
        <a href="{% url courier_add %}" class="nav-button selected">Új futár felvitele</a>
    </div>
{% endblock %}

{% block content %}
<div class="left">
    {% if object_list %}
        <table class="datagrid">
            <tr>
                <th>Név</th>
                <th>Állapot</th>
                <th>Pozíció</th>
                <th>Utolsó frissítés</th>
                <th></th>
            </tr>
            {% for courier in object_list %}
            <tr class="courier_row{% if not courier.is_active %} inactive{% endif %}">
                <td class="username">{{ courier.get_full_name }}</td>
                <td>{{ courier.get_state_display }}</td>
                <td class="position">
                    {% if courier.lat and courier.lng %}
                        {{ courier.lat|slice:":8" }}<br/>
                        {{ courier.lng|slice:":8" }}
                    {% endif %}
                </td>
                <td>{{ courier.last_pos_update|timesince }}</td>
                <td>
                    <a href="{% url courier_toggle courier.pk %}">

                    {% if courier.is_active %}
                        <img src="/static/img/delete.png" alt="delete client"/>
                    {% else %}
                        <img src="/static/img/accept.png" alt="enable client"/>
                    {% endif %}
                    </a>

                    <a href="{% url courier_edit courier.pk %}">
                        <img src="/static/img/edit.png" alt="edit client"/>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        Nincs futár.
    {% endif %}
</div>
<div id="map_canvas"></div>
<div class="clearfix"></div>
    
{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/static/js/couriers.js"></script>
{% endblock %}