{% extends "base.html" %}

{% block courier_tab_class %}selected{% endblock %}

{% block middle_bar %}
    <div id="middle_bar">
        <a href="{% url courier_add %}" class="nav-button selected">Új futár felvitele</a>
    </div>
{% endblock %}

{% block content %}

    {% if object_list %}
        <table class="datagrid">
            <tr>
                <th>Név</th>
                <th>Állapot</th>
                <th>Pozíció</th>
                <th>Utolsó frissítés</th>
            </tr>
            {% for courier in object_list %}
            <tr>
                <td>{{ courier.username }}</td>
                <td>{{ courier.state }}</td>
                <td>{{ courier.position|default:"-" }}</td>
                <td>{{ courier.last_update|default:"-" }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        Nincs futár.
    {% endif %}
    
{% endblock %}